<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qzc.dao.StudentMapper">
	<insert id="insertStudent" parameterType="com.qzc.entity.Student">
		insert into student(uuid,name,age,addr,tel)
		values(#{stu.uuid},#{stu.name},#{stu.age},#{stu.addr},#{stu.tel})
	</insert>
</mapper>